*{
    margin: 0;
    border: border-box;
    font-family: Arial;

}
a{
    text-decoration: none;
    color: black;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.add-icon{
    display: flex;
}
.nav-search{
    
    border-radius: 5px;
    display: flex;
    height: 40px;
    width: 620px;
    background-color: red;
    justify-content: space-evenly;
}
.search-icon{
    height: 40px;
    
}
.select-search{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    background-color:#febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
.box4{
}
.t1{
    font-size: 12px;
}
.t2{
    font-size: 15px;
    font-weight: 700;
}
.acc{
    display: flex;
    
}
.bicon{
    color: #f3f3f3;
    font-size: 10px;
    margin-left: 5px;
    margin-top:7px;
}
.nav-cart{
    display: flex;
}
.cart-icon{
    font-size: 2rem;
}

.ctext{
margin-top: 10px;
}
.ct{
    font-size: 15px;
    font-weight: 700;
}
.panel{
    background-color: #222f3d;
    height: 40px;
    color: white;
    display: flex;
    
    align-items: center;
    padding-left: 20px;
    
}
.pannelops{
    display: flex;
    
width: 83%;
}
.panelall{
    display: flex;
}
.panel-deals{
    
}
 p{
    margin-left: 15px;
}
.maincontent{
    background-image: url("hero_image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}
.shop-section{
    background-color:rgb(255, 123, 0);
    width: 100%;
    height: 950px;
margin-top: 23.25%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boximg{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.boxcontent p{
    color: black;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    height:50px ;
    color: white;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-left: 15px;
}
ul {
    margin-top: 15px;
}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    
    justify-content: center;
    text-align: center;
    height: 100px;
}
.foot-panel4 a{
    color: white;
    text-decoration: none;
}
.pages{
    padding-top:20px ;
    text-align: center;
    font-size: 0.7rem;
    
    
}
.copyright{
    text-align: center;
    font-size: 0.7rem;
    
}